language: cpp
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages: [
      cmake
    ]
  homebrew:
    packages: [
     cmake
    ]

matrix:
  include:
    - name: Test Xenial GCC-8
      os: linux
      env:
        - MATRIX_CC="CC=gcc-8 && CXX=g++-8"
      addons:
        apt:
          packages:
            - g++-8
      compiler: gcc
      sudo: required
      dist: xenial
    - name: Test Xenial Clang-6
      os: linux
      env:
        - MATRIX_CC="CC=clang-6.0 && CXX=clang++-6.0"
      addons:
        apt:
          packages:
            - clang-6.0
            - clang-tools-6.0
      compiler: clang
      sudo: required
      dist: xenial
    - name: Test macOS Clang
      os: osx
      sudo: required
      osx_image: xcode10.1

before_install:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then eval "${MATRIX_CC}"; fi
  -  ./CI/before_install.${TRAVIS_OS_NAME}.sh
before_script: ./CI/before_script.${TRAVIS_OS_NAME}.sh
script:
  - cd ./build
  - make -j3